# Tomte
bin_tomte
assets
bin
#tomte/
cmd_tomte.config
nextflow_schema.json

cmd_nisse.config
config-files

# Other
.nextflow.log*
.vscode/
.nfconfig
work/
tmp/
data/
.nextflow/
main.run
slurm_logs/
.vscode/
*.swp
