[submodule "tomte"]
	path = tomte
	url = git@github.com:genomic-medicine-sweden/tomte.git
[submodule "config-files"]
	path = config-files
	url = git@github.com:SMD-Bioinformatics-Lund/config-files.git
