singularity {
    enabled = true
    runOptions = '--bind /fs1/ --bind /local/ --bind /mnt/beegfs/ --bind /fs2/'
}


params {
    csv = 'dummy.csv'
    score_thres = 'test'
    snv_calls = 'test'

    hgnc_map = '/home/jakob/src/nisse/data/hgnc_symbol_to_id_240927.tsv'
    fraser_results = '/home/jakob/src/nisse/data/fraser.tsv'
    outrider_results = '/home/jakob/src/nisse/data/outrider.tsv'
    variant_calls = '/home/jakob/src/nisse/data/tomte_result/call_variants.vcf'
    variant_calls_tbi = '/home/jakob/src/nisse/data/tomte_result/call_variants.vcf.tbi'
    cadd = ''
    cadd_tbi = ''
    score_config = ''

    containers = [
        base: '/fs1/?',
        genmod: 'a',
        vep: 'sdsd',
        ol_wgs: 'sdsd',
        cadd: '/fs1/resources/containers/cadd_v1.6.sif'
    ]

    vep = [
        VEP_SYNONYMS: 'a',
        VEP_FASTA: 'b',
        VEP_CACHE: 'c',
        VEP_PLUGINS: 'd',
        VEP_TRANSCRIPT_DISTANCE: 'e',
        CADD: 'f',
        MAXENTSCAN: 'g',
        DBNSFP: 'h',
        GNOMAD_EXOMES: 'i',
        GNOMAD_GENOMES: 'j',
        GNOMAD_MT: 'k',
        PHYLOP: 'l',
        PHASTCONS: 'm'
    ]


}
