singularity {
    enabled = true
    runOptions = '--bind /fs1/ --bind /local/ --bind /mnt/beegfs/ --bind /fs2/'
}


params {
    csv = 'dummy.csv'
    score_thres = 'test'
    snv_calls = 'test'

    containers = [
        genmod: 'a',
        vep: 'sdsd',
        ol_wgs: 'sdsd'
    ]

    vep = [
        VEP_SYNONYMS: 'a',
        VEP_FASTA: 'b',
        VEP_CACHE: 'c',
        VEP_PLUGINS: 'd',
        VEP_TRANSCRIPT_DISTANCE: 'e',
        CADD: 'f',
        MAXENTSCAN: 'g',
        DBNSFP: 'h',
        GNOMAD_EXOMES: 'i',
        GNOMAD_GENOMES: 'j',
        GNOMAD_MT: 'k',
        PHYLOP: 'l',
        PHASTCONS: 'm'
    ]


}
